@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Livvic&display=swap');
@font-face {
    font-family: 'Authentic Signature';
    src: url(./font/Authentic\ Signature.otf);
 }

:root {
    --fonte-principal: 'Livvic';
    --fonte-secundaria: 'Authentic Signature';
    --cor-principal: #698B59;
}

.principal {
    background-image: url(./img/Fundo.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: none;
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-end;
}

.titulo__principal {
    font-family: var(--fonte-principal);
    font-size: 1.7rem;
    font-weight: 30;
    color: var(--cor-principal);
    margin: 1.3em 1em 0 0;
}

.titulo__data {
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
    font-weight: 30;
    color: var(--cor-principal);
    margin: 0 7em 0 0;
}

.Nomes {
    display: flex;
    justify-content: center;
}

.Nomes__principal {
    font-family: var(--fonte-secundaria);
    font-size: 4rem;
    font-weight: 10;
    color: var(--cor-principal);
    margin: 0.2em 0;
}

.texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    align-items: center;
    margin: 0 2em;
}

.texto__principal {
    font-family: var(--fonte-principal);
    font-size: 0.9rem;
    color: var(--cor-principal);
    margin: 0.5em 0;
}

.Icone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.2em;
}

.Icone_Folhas {
    width: 20%;
}

.Botão__principal {
    margin: 1em 0 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-radius: 1px;
    padding: 1em;
    color: var(--cor-principal);
    text-decoration: none;
    border: 2px solid var(--cor-principal);
    width: 60%;
    font-family: var(--fonte-principal);
    font-size: 0.8rem;
}

@media (min-width: 820px) {

    .titulo__principal {
        margin: 2.5em 2em 0 0;
    }

    .titulo__data {
        margin: 0 7em 0 0;
    }

    .texto {
        margin: 0 5em;
    }
}

@media (min-width: 1366px) {

    .texto {
        margin: 0 18em;
    }


    .Icone_Folhas {
        width: 10%;
        margin: 2em 0;
    }


}
